<div id="footer">
  <div class="container">
    <div class="box">
      <h2 class="develop"><%= image_tag "front-end/footer.png", :alt => "logo_footer" %></h2>
      <p>
        Any downloadable example or tutorial you find on this site you are free to use for whatever you want, with or without attribution.
        *This website may or may not contain any Rolling Themes.
      </p>
    </div>

    <div class="box">
      <h2>SITE LINKS</h2>

      <ul class="nav_footer">
        <li><%= link_to "About Rolling Themes", '#' %></li>
        <li><%= link_to "Categories", '#' %></li>
        <li><%= link_to "Authors", '#' %></li>
        <li><%= link_to "Tutorials", '#' %></li>
        <li><%= link_to "Freebies", '#' %></li>
      </ul>
    </div>
    <div class="box">
      <h2>SOCIAL MEDIA</h2>

      <ul class="nav_footer">
        <li>
          <%= link_to "#{image_tag('front-end/twitter (2).png')} Twitter".html_safe, '#' %>
        </li>
        <li>
          <%= link_to "#{image_tag('front-end/facebook (2).png')} Facebook".html_safe, '#' %>
        </li>
        <li>
          <%= link_to "#{image_tag('front-end/digg.png')} Digg".html_safe, '#' %>
        </li>
        <li>
          <%= link_to "#{image_tag('front-end/linkedin.png')} Linkedin".html_safe, '#' %>
        </li>
      </ul>
    </div>
    <div class="box">
      <h2 class="develop">KUYAINSIDE</h2>
      <p>
        Any downloadable example or tutorial you find on this site you are free to use for whatever you want, with or without attribution.
        *This website may or may not contain any Rolling Themes.
      </p>
    </div>
    <a href="#" rel="nofollow" onclick="MGJS.goTop();return false;" title="Back to top" class="top"><img src="/assets/front-end/top.png" /></a>
  </div>
  <div class="clear"></div>

</div>
<div class="copyright">
  <div class="container">
    <span class="left">Copyright © 2012 <b>RollingThemes.com</b>. All rights reserved.</span>
    <span class="right">Developed and Designed by <b>KuyaInside</b></span>
    <div class="clear"></div>
  </div>
</div>
