<div id="header">
  <div class="container">
    <h1><%= link_to image_tag("front-end/logo.png", :alt => 'logo'), root_url %></h1>
    <ul id="mega">
      <li>
        <%= link_to "CATEGORIES", '#' %>
        <div>
          <p>
            <%= link_to "Times", '#' %>
            <%= link_to "Schedule", '#' %>
            <%= link_to "Map", '#' %>
          </p>
          <p>
            <%= link_to "Names", '#' %>
            <%= link_to "Study", '#' %>
            <%= link_to "Directions", '#' %>
          </p>
          <p>
            <%= link_to "Health", '#' %>
            <%= link_to "Dance", '#' %>
            <%= link_to "Biology", '#' %>
          </p>
        </div>
      </li>
      <li>
        <%= link_to "AUTHORS", '#' %>
        <div>
          <p>
            <%= link_to "Times", '#' %>
            <%= link_to "Schedule", '#' %>
            <%= link_to "Map", '#' %>
          </p>
          <p>
            <%= link_to "Names", '#' %>
            <%= link_to "Study", '#' %>
            <%= link_to "Directions", '#' %>
          </p>
          <p>
            <%= link_to "Health", '#' %>
            <%= link_to "Dance", '#' %>
            <%= link_to "Biology", '#' %>
          </p>
        </div>
      </li>
      <li>
        <%= link_to "TUTORIALS", '#' %>
        <div>
          <p>
            <%= link_to "Times", '#' %>
            <%= link_to "Schedule", '#' %>
            <%= link_to "Map", '#' %>
          </p>
          <p>
            <%= link_to "Names", '#' %>
            <%= link_to "Study", '#' %>
            <%= link_to "Directions", '#' %>
          </p>
          <p>
            <%= link_to "Health", '#' %>
            <%= link_to "Dance", '#' %>
            <%= link_to "Biology", '#' %>
          </p>
        </div>
      </li>
      <li>
        <%= link_to "FREEBIES", '#' %>
        <div>
          <p>
            <%= link_to "Times", '#' %>
            <%= link_to "Schedule", '#' %>
            <%= link_to "Map", '#' %>
          </p>
          <p>
            <%= link_to "Names", '#' %>
            <%= link_to "Study", '#' %>
            <%= link_to "Directions", '#' %>
          </p>
          <p>
            <%= link_to "Health", '#' %>
            <%= link_to "Dance", '#' %>
            <%= link_to "Biology", '#' %>
          </p>
        </div>
      </li>
      <li>
        <%= link_to "CONTACT", '#' %>
      </li>
    </ul>
    <div class="search">
      <%= form_for '#' do |f| %>
        <p>
          <%= text_field_tag :search, 'Search on Rolling Themes' %>
          <%= submit_tag '' %>
        </p>
      <% end %>
    </div>
  </div>
</div>