<div class="content">
  <h2>New Post</h2>

  <div class="inner">
    <%= form_for ['administrator', @post], :html => {:multipart => true, :class => 'form'} do |f| %>
      <%= error_messages(@post).html_safe %>

      <div class="group">
        <%= f.label :title, :class => 'label' %>
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
      <div class="group">
        <%= f.label :author, :class => 'label' %>
        <%= f.select :author_id, options_for_select(all_authors_options, @post.author_id), :include_blank => 'Choose Here', :class => 'selectbox' %>
      </div>
      <div class="group">
        <%= f.label :content, :class => 'label' %>
        <%= f.cktext_area :content, :toolbar => 'Full', :height => 400 %>
      </div>

      <div class="group navform wat-cf">
        <button type="submit" class="button" name="submit" value="save">
          <%= image_tag "tick.png", :alt => "+" %> Save
        </button>
        <button type="submit" class="button" name="submit" value="save-n-publish">
          <%= image_tag "tick.png", :alt => "+" %> Save and Publish
        </button>
        <%= link_to "Cancel", administrator_posts_path, :class => 'link-button' %>
      </div>
    <% end %>
  </div>
</div>