<!DOCTYPE html>
<html>
<head>
  <title>Rolling Themes</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :stylesheet %>
</head>
<body>

  <%= yield %>

  <%= yield :javascript %>
</body>
</html>
